#about {
	position: relative;
	height: 15em;
}

#about div {
	text-align: center;
	font-style: italic;
	font-family: ubuntu serif, serif;
	position: absolute;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}

#about div.active {
	opacity: 1;
}

#about q {
	display: block;
}

#about q:before, q:after {
	font-size: 500%;
	position: relative;
	top: 0.3em;
	margin: 0 0.1em;
}

#about q:before {
	content: "“";
}

#about q:after {
	content: "”";
}

#about span {
	margin-left: 15em;
}

#about span:before {
	content: "— ";
}
