#badge div {
	min-width: 25%;
	margin: 1em;
	padding: 1em;
	background-color: #4a4a4a;
	border-radius: 2em;
	float: left;
	text-align: center;
	border: 2px dashed #000;
}

#badge h3 {
	margin-top: 0;
}

#badge li {
	text-align: left;
	line-height: 200%;
}

#badge li span {
	vertical-align: middle !important;
}

#badge .jslogo {
	background-color: #f0db4f;
	color: #323330;
	text-shadow: none;
}

#badge textarea {
	resize: none;
	border: none;
	overflow: hidden;
	font-size: 130%;
	padding: 0.3em;
	margin: 0;
}

#badge img {
	display: block;
	margin: 1em auto;
}
