#badge div {
	width: 20%;
	margin: 1%;
	padding: 1%;
	background-color: #4a4a4a;
	border-radius: 2em;
	float: left;
	text-align: center;
	border: 2px dashed #000;
}

#badge h3 {
	margin-top: 0;
}

#badge .jslogo {
	background-color: #f0db4f;
	color: #323330;
	text-shadow: none;
}

#badge pre {
	text-align: left;
	padding-left: 25%;
}

#badge textarea {
	resize: none;
	border: none;
	overflow: hidden;
	font-size: 130%;
	padding: 0.3em;
	margin: 0;
}

#badge img {
	display: block;
	margin: 1em auto;
}

#badge div:nth-of-type(5) { 
	clear: both;
	width: 92%;
}

#badge dl {
	text-align: left;
	-webkit-column-width: 400px;
	-moz-column-width: 400px;
	column-width: 400px;
}

#badge dt {
	margin-top: 0.5em;
}