#create {
	text-align: center;
}

#create .item {
	counter-increment: item;
	padding: 0.5em 0;
	text-align: left;
}

#create .item:hover {
	background-color: #4a4a4a;
}

#create .item > * {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#create > button {
	margin-top: 1em;
	font-size: 300%;
	cursor: pointer;
}

#create h3 {
	margin: 0.5em 0;
}

#create h3:before {
	content: counter(item) " ";
}

#create ul {
	margin: 0;
	padding: 0;
}

#create li {
	list-style-type: none;
	margin: 0.3em 0 0 2em;
	position: relative;
}

#create li input {
	position: absolute;
	right: 100%;
	top: 0;
}

#create li label {
	display: block;
	cursor: pointer;
}

#create li span {
	margin-left: 0.2em;
	opacity: 0.5;
}

#create li input:checked ~ span {
	opacity: 1;
}
