#create {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	counter-reset: item;
}

#create .item {
	counter-increment: item;
	padding: 0.5em 0;
	text-align: left;
	position: relative;
}

#create .item:hover {
	background-color: #4a4a4a;
}

#create .item > * {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#create > button {
	margin-top: 1em;
	font-size: 300%;
	cursor: pointer;
}

#create h3 {
	margin: 0.5em 0;
}

#create h3:before {
	content: counter(item) " ";
}

#create .item:before {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 90%;
}

#create .item:hover:nth-of-type(5):before {
	content: "You are doing good...";
}

#create .item:hover:nth-last-of-type(7):before {
	content: "Just a few more...";
}

#create .item:hover:nth-last-of-type(3):before {
	content: "Almost done...";
}

#create ul {
	margin: 0;
	padding: 0;
}

#create li {
	list-style-type: none;
	margin: 0.3em 0 0 2em;
	position: relative;
}

#create li input {
	position: absolute;
	right: 100%;
	top: 0;
}

#create li label {
	display: block;
	cursor: pointer;
}

#create li span {
	margin-left: 0.2em;
	opacity: 0.5;
}

#create li input:checked ~ span {
	opacity: 1;
}

#create li .stats {
	position: absolute;
	right: 108%;
	top: 0px;
}
