#create .item {
	float: left;
	padding-right: 1em;
	width: 24em;
	height: 14em;
	counter-increment: item;
}

#create > button {
	float: left;
	font-size: 300%;
	cursor: pointer;
}

#create h3 {
	margin: 0.5em 0;
}

#create h3:before {
	content: counter(item) " ";
}

#create ul {
	padding-left: 20px;
}

#create li {
	list-style-type: none;
	margin: 0.3em 0;
	position: relative;
}

#create li input {
	position: absolute;
	right: 100%;
	top: 0;
}

#create li label {
	cursor: pointer;
}

#create li span {
	margin-left: 0.2em;
	opacity: 0.5;
}

#create li input:checked ~ span {
	opacity: 1;
}
