nav {
	position: absolute;
	width: 30%;
	right: 35%;
}

nav ul {
	padding: 0;
	margin: 0;
	margin-top: 3em;
	list-style-type: none;
	text-align: center;
}

nav li a {
	display: block;
	text-align: center;
	margin: 1em auto;
	font-size: 200%;
	border-radius: 0.3em;
	text-decoration: none;
	padding: 0.5em 0 0.3em 0;

	color: #aaa;
	background-color: #3c3c3c;
	background-image: -webkit-linear-gradient(top, #3c3c3c, #222);
	background-image: -moz-linear-gradient(top, #3c3c3c, #222);
	background-image: -ms-linear-gradient(top, #3c3c3c, #222);
	background-image: -o-linear-gradient(top, #3c3c3c, #222);
	background-image: linear-gradient(top, #3c3c3c, #222);
}

nav li a span {
	display: block;
	opacity: 0;
	font-size: 50%;
}

nav li:last-child a {
	font-size: 130%;
	width: 80%;
}

nav li a:hover {
	color: #fff;
}

nav li a:hover span {
	opacity: 1;
}

:target ~ header nav {
	right: 0;
	width: 8em;
}

:target ~ header ul {
	margin-top: 0;
}

:target ~ header li a {
	padding: 0.3em 0;
	margin: 0.3em auto;
	font-size: 90%;
	width: 100%;
}

:target ~ header li a span {
	display: none;
}

