body {
	background-color: #555;
	color: #eee;
	text-shadow: 0 0.08em 0.1em #000;
	font-family: sans-serif;
	margin: 0;
}

a {
	color: #eee;
}

header {
	background-color: #333;
	box-shadow: 0 2px 2px #000;
}

header h1 {
	margin-top: 0;
	padding-top: 0.5em;
	text-align: center;
}

header h1 a {
	text-decoration: none;
}

body > section {
	margin: 1em;
}

section[id]:not(:target) {
	display: none;
}

#decode button {
	font-size: 200%;
	cursor: pointer;
}

#decode textarea {
	width: 40%;
	height: 200px;
}

footer {
	clear: both;
	text-align: center;
	font-size: 80%;
	padding-top: 2em;
}

